* {
    font-family: 'Roboto', sans-serif;
    background-image: linear-gradient(#fca643, #f0b97a) ;
}
.grid {
    margin: auto;
    max-width: 960px;
    display: grid;
    grid-template-columns: 
        8rem repeat(8,1fr) 8rem;
    grid-template-rows: 8rem 3rem 16rem;
    grid-auto-rows: 8rem; 
    grid-gap: .5rem;
}

.grid > * {
    margin: 0;
    padding: 1rem;
    background: #42defa;
}

.top-logo {
    grid-column: span 1;
}
.img-fill {
    height: 100%;
}
.top-title {
    grid-column: span 7;
    font-size: 3rem;
    text-align: center;
}
.login-box {
    grid-column: span 2;
}
.main-navbar {
    grid-column: span 10;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.main-navbar a {
    font-size: 1.5rem;
    text-decoration: none;
    color: black;
}
.main-main {
    grid-column: span 8;
}
.basket {
    grid-column: span 2;
}